/**
 * Add easy RTL support by defining boolean $rtl value.
 *
 * If $rtl, #{$padding-left} will get replaced with "padding-right". Default: "padding-left"
 *
 * @since 1.17
 * @link https://gist.github.com/Integralist/7269907
 */

$padding-left:    padding-left;
$padding-right:   padding-right;
$margin-left:     margin-left;
$margin-right:    margin-right;
$border-right:    border-right;
$left:            left;
$right:           right;
$direction:       ltr;

@if $rtl {
  $direction:     rtl;
  $padding-left:  padding-right;
  $padding-right: padding-left;
  $margin-left:   margin-right;
  $margin-right:  margin-left;
  $border-right:  border-left;
  $left:          right;
  $right:         left;
}

