WP_ENV_URL=http://localhost
WP_ENV_PORT=31337
WP_ENV_USER=admin
WP_ENV_USER_PASS=password
WP_ENV_PHP_VERSION=7.4
# Comma-separated list of paths to plugins to activate on start
WP_ENV_PLUGINS=/tmp/gravityforms
