## Mac
.DS_Store

## PhpStorm
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/.name
.idea/**/codeStyles
.idea/**/php.xml

## Sass
.sass-cache

## Phan/PHPStan
.phan
phpstan.neon

## Sublime
*.sublime-project
*.sublime-workspace

## Bower
assets/lib/flexibility/*
!assets/lib/flexibility/*.js
!assets/lib/flexibility/*.json

assets/lib/fancybox/*
!assets/lib/fancybox/dist
!assets/lib/fancybox/dist/*.js
!assets/lib/fancybox/dist/*.css

## Node & Composer
node_modules
vendor
vendor_prefixed

# JIRA plugin
atlassian-ide-plugin.xml

# DoxyGen
docs/config.doxygen
docs/html

# Environment file (used for local unit tests)
.env

# Docker files and folders used for local unit tests
docker-compose.yml
docker-unit-tests.sh
phpunit
phpunit.xml
wordpress-51-tests-lib
wordpress-latest-tests-lib
.phpunit.result.cache

.coveralls.yml
.scrutinizer.yml
.tx

# Playwright/E2E tests
/tests/E2E/results
/tests/E2E/.wp-env.json
