# Help from https://www.gitignore.io

### Mac ###
.DS_Store
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

### SublimeText ###
*.sublime-project
*.sublime-workspace

### Composer ###
composer.lock

### Libraries ###
vendor/.git
vendor/*/.git
vendor/composer/
vendor/bin/
vendor/autoload.php
vendor/phpcompatibility/
vendor/squizlabs/
vendor/dealerdirect/
wpcs/

### Node ###
node_modules/*
package-lock.json

### CodeKit ####
.sass-cache
*.codekit

### Transifex ####
.tx
languages/gravityview-pt.mo
languages/gravityview-pt.po
languages/gravityview-de.mo
languages/gravityview-de.po

### PhpStorm ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/deployment.xml
.idea/modules.xml

.idea/php.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/encodings.xml

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

## Bower
assets/lib/flexibility/*
!assets/lib/flexibility/*.js
!assets/lib/flexibility/*.json

# Unit tests
/tmp
/tests/bin/tmp

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# DoxyGen
docs/config.doxygen
docs/html
phpdoc-cache-*/

# VIM
*.swp
