language: php

sudo: false

dist: precise

notifications:
  email:
    on_success: never
    on_failure: change

branches:
  only:
    - master
    - future
    - 2.0

php:
  - 5.3
  - 5.4
  - 5.6
  - 7.1
  - 7.2

env:
  - WP_VERSION=latest WP_MULTISITE=0
  - WP_VERSION=latest WP_MULTISITE=0 GF_VERSION=2.3
  - WP_VERSION=4.4 WP_MULTISITE=0

matrix:
  include:
    - php: 5.3
      env: WP_VERSION=latest WP_MULTISITE=1
  exclude:
      - php: 7.1
        env: WP_VERSION=4.4 WP_MULTISITE=0
      - php: 7.2
        env: WP_VERSION=4.4 WP_MULTISITE=0

install:
  - curl -s https://getcomposer.org/installer | php
  - php composer.phar install --no-interaction

before_script:
  - bash tests/bin/install.sh gravityview_test root '' localhost $WP_VERSION
  - bash tests/bin/travis.sh before
  - if [[ $TRAVIS_PHP_VERSION = '7.2' && $WP_VERSION = 'latest' && $WP_MULTISITE = '0' ]]; then DO_COVERAGE=1; else DO_COVERAGE=0; fi

script:
  - if [[ $DO_COVERAGE = '1' ]]; then vendor/bin/phpunit -c phpunit.xml.dist; else vendor/bin/phpunit -c phpunit.xml.dist --no-coverage; fi

after_script:
  - if [[ $DO_COVERAGE = '1' ]]; then wget https://scrutinizer-ci.com/ocular.phar; fi
  - if [[ $DO_COVERAGE = '1' ]]; then php ocular.phar code-coverage:upload --format=php-clover /tmp/clover.xml; fi

after_success:
  - if [[ $DO_COVERAGE = '1' ]]; then travis_retry php vendor/bin/coveralls -v --exclude-no-stmt; fi
