
.gv-edit-entry-wrapper {

	.dashicons {
		font-size: .925em;
		padding: 0 .2em;
		width: 1em;
		height: 1em;
		line-height: 1em;
		#{$margin-left}: .5em;
	}

	// GF 2.5
	.gravity-theme .gform_delete_file {
		line-height: 1;
		padding: .25em;
		margin: 0 .25em;
		background: var( --global-palette-btn-bg );
		.dashicons {
			margin: 0;
			width: 20px;
		}
		&:hover {
			background: var(--global-palette-btn-bg-hover);
		}
	}

	.dashicons-dismiss {
		color: #a10013;

		&:hover {
			color: #e20012;
		}
	}

	.dashicons-download {
		color: #406e20;

		&:hover {
			color: #469416;
		}
	}

	.gform-theme--framework .gfield:where(.gfield--type-fileupload,.gfield--input-type-fileupload) .ginput_preview {
		flex-direction: row;
	}

	// GF 2.5.6.4
	.ginput_preview_control {
		display: inline-block;
		font-size: 1.25rem;
		line-height: 1;
		outline: none;
		position: relative;
		text-decoration: none;

		&.gform-icon--circle-arrow-down {
			color: #22a753;
		}

		&.gform-icon--circle-delete {
			color: #dd301d;
		}
	}

	.gform-theme--framework .gfield:where(.gfield--type-fileupload,.gfield--input-type-fileupload) .ginput_preview_control {
		bottom: 0;
		top: -.15rem;
	}

	#publishing-action {
		width: 100%;
	}
}
