
// Give some default space
.gv-field-label {
	#{$padding-right}: .25em;
}

// LIST VIEWS ONLY
.gv-list-container,
.gv-list-single-container {

	.gv-section {

		margin: 1em 0 1.5em;

		.gv-field-label {
			border-bottom: 1px solid #ccc;
			display: block;
		}
	}

}


// POST IMAGE

// Image caption
.gv-image-caption {
	font-style: italic;
}
