// Give some default space
.gv-field-label {
	#{$padding-right}: .25em;
}

// LIST VIEWS ONLY
.gv-list-container,
.gv-list-single-container {

	.gv-section {

		margin: 1em 0 1.5em;

		.gv-field-label {
			border-bottom: 1px solid #ccc;
			display: block;
		}
	}

}


// POST IMAGE

// Image caption
.gv-image-caption {
	font-style: italic;
}


// Repeater field
.gfield_repeater_label {
	font-weight: bold;
}

.gfield_repeater_value > .gfield_repeater {
	background-color: rgba(1, 1, 1, .05);
	border-left: 5px solid rgba(80,80,80, .1);

	margin: 10px;
	padding: 10px 20px;
}

.gfield_repeater .gfield_repeater {
	.gfield_label {
		margin: -10px -20px 0;
		padding: 10px;
		background-color: rgba(80, 80, 80, .1);
	}
}

.gfield_repeater_item + .gfield_repeater_item {
	border-top: 1px solid rgba(80, 80, 80, .25);
	margin-top: 1rem;
	padding-top: 1rem;
}

.gv-more-results {
	font-style: italic;
}

.gv-repeater-hr {
	border-color: rgba(80, 80, 80, 0.25);
	margin: 1rem 0;
}
