.gv-edit-entry-wrapper {

	.dashicons {
		font-size: .925em;
		padding: 0 .2em;
		width: 1em;
		height: 1em;
		line-height: 1em;
		margin-left: .5em;
	}

	.dashicons-dismiss {
		color: #960014;

		&:hover {
			color: #b20010;
		}
	}

	.dashicons-download {
		color: #3a5c1f;

		&:hover {
			color: #406e17;
		}
	}

}
