.gv-edit-entry-wrapper {

	.dashicons {
		font-size: .9em;
		padding: 0 .2em;
		width: 1em;
		height: 1em;
		line-height: 1em;
		margin-left: .5em;
	}

	.dashicons-dismiss {
		color: #a36f71;

		&:hover {
			color: #9e0b0f;
		}
	}

	.dashicons-download {
		color: #757e73;

		&:hover {
			color: #406618;
		}
	}

}
