<!DOCTYPE html>
	<head>
		<title>Gravity Views Template | List View</title>
		<link rel="stylesheet" href="../list-view.css" />
	</head>
	<body>

		<!--
		Container for presentation purposes only
		Do not include in final markup
		-->
		<div style="margin: 0 auto; max-width: 800px;">

			<!-- List view main <div> -->
			<div class="gv-list-view">
				<div class="gv-list-view-title">
					<h3><a href="?" title="Joe's Car Dealer">Joe's Car Dealer</a></h3>
					<p>In <a href="?" title="Category">Category</a></p>
				</div>
				<div class="gv-list-view-content">
					<div class="gv-list-view-content-description">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, et, deserunt, quidem nemo consectetur nostrum harum ipsam error blanditiis quibusdam quaerat numquam distinctio voluptatem cumque incidunt quod ex sequi ut.</p>
					</div>
					<div class="gv-list-view-content-image">
						<img src="http://placehold.it/300x200">
					</div>
					<div class="gv-list-view-content-attributes">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					</div>
				</div>
				<div class="gv-list-view-footer">
					<ul>
						<li>Field One</li>
						<li><a href="?">Field Two with link</a></li>
						<li>Field 3</li>
					</ul>
				</div>
			</div>
			<!-- /List view main <div> -->

			<!-- List view main <div> -->
			<div class="gv-list-view">
				<div class="gv-list-view-title">
					<h3><a href="?" title="Joe's Car Dealer">Joe's Car Dealer</a></h3>
					<p>In <a href="?" title="Category">Category</a></p>
				</div>
				<div class="gv-list-view-content">
					<div class="gv-list-view-content-description">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, et, deserunt, quidem nemo consectetur nostrum harum ipsam error blanditiis quibusdam quaerat numquam distinctio voluptatem cumque incidunt quod ex sequi ut.</p>
					</div>
					<div class="gv-list-view-content-image">
						<img src="http://placehold.it/300x200">
					</div>
					<div class="gv-list-view-content-attributes">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					</div>
				</div>
				<div class="gv-list-view-footer">
					<ul>
						<li>Field One</li>
						<li><a href="?">Field Two with link</a></li>
						<li>Field 3</li>
					</ul>
				</div>
			</div>
			<!-- /List view main <div> -->

			<!-- List view main <div> -->
			<div class="gv-list-view">
				<div class="gv-list-view-title">
					<h3><a href="?" title="Joe's Car Dealer">Joe's Car Dealer</a></h3>
					<p>In <a href="?" title="Category">Category</a></p>
				</div>
				<div class="gv-list-view-content">
					<div class="gv-list-view-content-description">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, et, deserunt, quidem nemo consectetur nostrum harum ipsam error blanditiis quibusdam quaerat numquam distinctio voluptatem cumque incidunt quod ex sequi ut.</p>
					</div>
					<div class="gv-list-view-content-image">
						<img src="http://placehold.it/300x200">
					</div>
					<div class="gv-list-view-content-attributes">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					</div>
				</div>
				<div class="gv-list-view-footer">
					<ul>
						<li>Field One</li>
						<li><a href="?">Field Two with link</a></li>
						<li>Field 3</li>
					</ul>
				</div>
			</div>
			<!-- /List view main <div> -->


		</div>

	</body>
</html>
