/*! GravityView Search Bar Legacy CSS (Pre-flexbox) */

/**
 * Namespaced more aggressively (adding .gv-widget-search) than default;
 * assuming if this file is enqueued, the user wants to override default display
 */
.gv-widget-search.gv-search-horizontal {

	// Get vertical centering
	display: table;

	width: 100%;

	.gv-search-box {
		padding-right: .5em;

		// Get vertical centering
		display: table-cell;
		height: 100%;
		vertical-align: top;

		p {
			display: block;
		}

		input,
		select {
			display: block;
		}

		select {
			width: 100%;
			max-width: 15em;
		}

		&.gv-search-date {

			max-width: 10em;

			input {
				width: 48%;
				float: left;
				margin-right: 2%;
			}
		}

		&.gv-search-date {
			input {
				display: inline-block;
			}
		}

		&.gv-search-box-submit {
			vertical-align: middle;

		  	.gv-search-clear {
			  	float: left;
			  	margin-right: 5px;
			}

		}

	}

}

.gv-widget-search {

	label.gv-check-radio {
		display: inline-block;
		margin-right: 1em;
		input {
			display: inline;
		}
	}

	&.gv-search-vertical {

		label.gv-check-radio {
			display: block;
			margin-bottom: 1em;
		}
	}

	.gv-search-box-links .active {
		font-weight: bold;
	}
}

.gv-search-clear {
  display: none;

  .gv-is-search & {
	display: inline-block;
  }
}