div#search-view.has-options-panel {
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #FFF;
        opacity: .75;
        z-index: 15; // Needs to be on top of field buttons with high z-indexes.
    }

    > .gv-dialog-options {
        display: block;
        position: absolute;
        right: 0;
        width: 400px;
        top: 0;
        bottom: 0;
        background: #F6F6F6;
        border-left: 1px solid #f1f1f1;
        box-sizing: border-box;
        padding: 24px !important;
        z-index: 20; // Needs to be on top of the overlay. Leaving room for 5 layers.
    }

    .gv-fields.has-options-panel {
        border: 1px solid #136cb9;
    }

    .gv-field-details--container {
        margin-bottom: 32px;

        p {
            color: #999999;
        }
    }

    .gv-setting-container {
        padding: 0;
        margin-bottom: 16px;

        input[type=color],
        input[type=date],
        input[type=datetime-local],
        input[type=datetime],
        input[type=email],
        input[type=month],
        input[type=number],
        input[type=password],
        input[type=search],
        input[type=tel],
        input[type=text],
        input[type=time],
        input[type=url],
        input[type=week],
        select,
        textarea {
            border: 0;
            border-radius: 2px;
            box-shadow: 0 0 0 1px #a7a7a7;
            color: #070707;
            min-height: 40px;
            margin-top: 12px;

            &:active, &:focus {
                box-shadow: 0 0 0 1px #2271b1;
            }
        }

        > label {
            padding-right: 0;
            display: block;
            color: #070707;
        }
    }

    button.gv-dialog-options--close {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border: 0;
        border-radius: 0;
        background: transparent;
        height: 40px;
        text-align: left;
        cursor: pointer;
        &:hover {
            color: #2271b1;
        }
    }
}

.search-field-title {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 0;
}
