.view-dropdown {
	position: absolute;
	right: 0;
	top: 0;
	left: 0;

	.view-dropdown-select {
		position: absolute;
		right: 0;
		top: 0;
		border-radius: 3px;
		border: 1px solid #CCD0D4;
		display: flex;
		cursor: pointer;
		background-color: #FFF;
		overflow: hidden;
		max-width: 99%;

		&:hover,
		&:focus {
			.view-dropdown-select__toggle {
				background-color: #F3F4F5;
			}
		}

		&:focus {
			border: 1px solid #2c3338;
		}
	}

	.view-dropdown-select__value__icon {
		margin-right: 8px;
		max-width: 32px;
		height: 24px;
		flex-grow: 0;
		align-items: center;
		justify-content: center;
		display: flex;

		img {
			max-width: 32px;
			max-height: 24px;
		}
	}

	.view-dropdown-select__value {
		flex: 1;
		display: flex;
		font-size: 14px;
		font-weight: 500;
		color: #2C3338;
		white-space: nowrap;
	}

	.view-dropdown-select__value__selection {
		color: #2271B1;
		margin-left: 4px;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	.view-dropdown-select__value,
	.view-dropdown-select__toggle {
		line-height: 24px;
		padding: 8px;
		overflow: hidden;
	}

	.view-dropdown-select__toggle {
		flex-grow: 0;
		border-left: 1px solid #E3E6EF;
	}

	.view-dropdown-toggle__chevron {
		width: 20px;
		height: 20px;
		margin-top: 2px;
		rotate: -180deg;
	}

	.view-dropdown-options {
		display: none;
		position: absolute;
		top: 48px;
		right: 0;
		width: 360px;
		background-color: #FFF;
		border-radius: 3px;
		border: 1px solid #C3C4C7;
		overflow: hidden;
		box-shadow: 0 6px 20px 0 rgba(0, 0, 0, .1);
	}

	.view-dropdown-options__header {
		padding: 15px 20px;
		border-bottom: 1px solid #C3C4C7;
		font-size: 14px;
		font-weight: 500;
	}

	.view-dropdown-options__body {
		padding: 12px 8px;
	}

	.view-dropdown-options__footer {
		padding: 0 20px 20px;

		a {
			font-size: 14px;
		}
	}

	.view-dropdown-list {
		overflow: hidden;
		overflow-y: auto;
		max-height: 360px;
	}

	.view-dropdown-list-item {
		padding: 8px;
		border-radius: 3px;
		overflow: hidden;
		display: flex;
		color: #636D77;
		line-height: 17px;
		cursor: pointer;
		border: 1px solid #FFF;

		&:hover,
		&:focus,
		&.view-dropdown-list-item--active {
			color: #2C3338;
		}

		&.view-dropdown-list-item--active {
			border-color: #1D2327;
		}

		&:focus {
			background-color: #F3F4F5;
		}

		&[aria-disabled="true"] {
			cursor: not-allowed;
		}

		&[aria-disabled="true"]:not(.view-dropdown-list-item--license) {
			filter: grayscale(1);
			color: #babfc5;
		}

		&.view-dropdown-list-item--license {
			border-color: #FF1B67;
			position: relative;
			margin-top: 20px;
			overflow: visible;
			border-top-left-radius: 0;

			.view-dropdown-list-item__buy-source {
				background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 30%);
				position: absolute;
				right: 2px;
				top: 2px;
				bottom: 2px;
				width: 50%;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				padding-right: 10px;

				a {
					display: flex;
					background-color: #0073AA;
					border-radius: 4px;
					border: 2px solid #0073AA;
					padding: 6px 13px;
					font-size: 12px;
					line-height: 14px;
					color: #FFF;
					text-decoration: none;

					&:hover {
						background-color: #FFF;
						color: #0073AA;
					}
				}
			}

			.view-dropdown-list-item__license {
				display: block;
				position: absolute;
				color: #FF1B67;
				font-size: 10px;
				text-transform: uppercase;
				font-weight: bold;
				left: -1px;
				top: 0;
				background-color: #FFF;
				border: 1px solid #FF1B67;
				border-bottom: 0;
				border-top-left-radius: 4px;
				border-top-right-radius: 4px;
				padding: 5px 8px 0 6px;
				line-height: 10px;
				margin-top: -16px;
				min-width: 50px;
				text-align: center;
			}

			&:hover {
				&,
				.view-dropdown-list-item__license {
					background-color: #FF1B67;
					color: #FFF;
				}

				.view-dropdown-list-item__buy-source {
					background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #FF1B67 30%);
				}
			}
		}
	}

	.view-dropdown-list-item__icon {
		border-radius: 3px;
		width: 48px;
		height: 48px;
		flex-grow: 0;
		flex-shrink: 0;
		margin-right: 18px;
		background-color: #F3F4F5;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			max-width: 32px;
			max-height: 24px;
		}
	}

	.view-dropdown-list-item__value {
		padding: 4px 0;
	}

	.view-dropdown-list-item__label {
		font-weight: 500;
		font-size: 15px;
	}

	.view-dropdown-list-item__description {
		font-size: 12px;
	}

	&.view-dropdown--open {
		z-index: 10;

		.view-dropdown-toggle__chevron {
			rotate: none;
		}

		.view-dropdown-options {
			display: block;
		}
	}
}
