/**
 * Much of the code from WooCommerce
 * @link https://github.com/woothemes/woocommerce/blob/master/assets/css/admin.scss
 */

@import "_mixins";

#gravityview_settings {


  padding: 0;

  // Hide until shown using JS
  display: none;

  // For the Advanced Filter plugin, and any other field filters
  .gform-field-filter {
    clear: both;
    padding: .5em 0 0;
  }

  // The wrapper for the entire metabox
  .inside {
    padding: 0;
    margin: 0;
    background: #fff;

    @include clearfix();
  }

  // The left nav
  ul.ui-tabs-nav {
    line-height: 1em;
    float: left;

    .rtl & {
	  float: right;
    }

    width: 30%;
    max-width: 20em;

    margin: 0;
    position: relative;
    padding: 0 0 30px;
    background-color: #fff;
    box-sizing: border-box;

    #side-sortables & {
      width: 100%;
      padding-bottom: 0;
      border: none;
    }

    li {
      display: block;
      padding: 0;
      margin: 0;
      top: 0;
      width: 100%;

      &.ui-state-disabled {
        display: none;
      }

      a {
        @include borderbox();

        padding: 13px;
        line-height: 24px !important;
        margin: 0;
        display: block;
        width: 100%;
        text-decoration: none;
        border: none;
        outline: none;
        box-shadow: none; // Prevent the blue glow in Safari OSX
        border-bottom: 1px solid $color-bg-active;
        color: $color-444;
        background: none;
        transition-duration: 0s;

        // Prevent overflowing text on the tabs
        text-overflow: ellipsis;
        overflow-x:hidden;
      }

      &:first-child {
        a {
          border-top: 0 !important;
        }
      }

      &.ui-state-hover {
	      a {
		      background-color: $color-bg-inactive;
		      color: $color-333;
	      }
      }
      &.ui-state-active {
        a {
          position: relative;
          background-color: $color-bg-active;
          box-shadow: 0 1px 2px transparentize( $color-ddd, 0.5 );
          color: $color-111;
        }
      }
    }
  }

  // The right panel
  @import "admin-metabox-panel";

  // Styles for placeholder functionality.
  @import "admin-metabox-placeholder";
}
