@import "_mixins";
@import "variables";

.gk-gravityview-placeholder-container {
	margin: 15px;
	padding: 30px 15px;
	background: white;
	border-radius: 7px;
	border: 1px #DDDDE5 solid;
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	.gk-gravityview-placeholder-icon {
		display: block;
		svg {
			margin-bottom: 30px;
		}
	}

	.button {
		margin: 1.5em auto 1em;
	}

	.gk-gravityview-placeholder-content {
		text-align: center;
		flex-wrap: wrap;
	}

	.gk-gravityview-placeholder-learn-more {
		text-align: center;
		margin: 1.5em auto;
		font-size: 1.1em;

		a {
			display: inline-block;
		}
	}

	.gk-gravityview-placeholder-summary {
		max-width: 800px;
		margin: 0 auto;

		h3 {
			display: block;
			position: relative;
			font-weight: 500;
			line-height: 1.333;
			vertical-align: middle;
			color: #23282D;
			font-size: 18px;
			margin: 0;
			padding: 0;
		}

		.howto p {
			font-size: 1.3em;
			line-height: 1.7;
		}
	}
}

tr .gk-gravityview-placeholder-container {
	margin: 8px 10px;
	padding: 15px;

	.gk-gravityview-placeholder-content {
		flex: 1 1 0;
		width: 100%;
		border-radius: 4px;
		justify-content: flex-start;
		gap: 16px;
		display: flex;
		text-align: left;
	}

	.gk-gravityview-placeholder-icon svg {
		width: 60px;
		height: 60px;
	}

	.gk-gravityview-placeholder-summary {
		flex: 1 1 0;
		flex-direction: row;
		justify-content: flex-end;
		align-items: flex-start;
		gap: 8px;

		h3 {
			align-self: stretch;
			font-size: 15px;
		}

		.howto p {
			font-size: 1em;
			line-height: 1.3333;
		}
	}

	.gk-gravityview-placeholder-button.button {
		flex: 0 0 0;
		margin: 0;
		display: inline-flex;
		flex-direction: column;
		height: 3.14285714rem;
	}

	.gk-gravityview-placeholder-learn-more {
		flex-basis: 100%;
		line-height: 1.3333;
		font-size: 1em;
		padding: 0;
		margin: 0!important;
	}

	@media (max-width: 1199px) {
		.gk-gravityview-placeholder-container {
			margin: 0;
			width: 100%;
		}
		.gk-gravityview-placeholder-content {
			gap: 0;
			flex-direction: column;
			flex-basis: 100%;
		}
		svg {
			display: none;
		}
		.button {
			text-align: center;
		}
	}
}
