/**
 * GravityView Admin Refresh Styles
 *
 * The rules are attempted to be ordered in visual order of the DOM, starting at the top.
 *
 */

@font-face {
	font-family: "Inter";
	src:
		url(assets/fonts/Inter-VariableFont) format("ttf");
}

.post-type-gravityview {

	font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
	font-size: $fontsize-gf-s;
	background-color: $color-gf-in-color-anti-flash-white;;

	#wpcontent {
		margin: 0;
	}

	#wpbody-content {
		padding-bottom: 0;
	}

	.wrap h1.wp-heading-inline,
	.page-title-action,
	.wp-header-end {
		display: none;
	}

	#titlediv #title {
		background-color: transparent;
		border-color: $color-gf-in-color-anti-flash-white;
	}

	#poststuff {
		padding-left: $body-inset;
		padding-right: $body-inset;
	}

	.postbox {
		background: transparent;
		border: none;
		border-radius: 0;
		box-shadow: none;

		.postbox-header {
			border-bottom: none;
		}
	}

	.folded #wpcontent, .folded #wpfooter {
		margin-left: 0;
	}

	.active-drop-container {
		box-shadow: none;
		border-radius: 0;
	}

	#gravityview_view_config {

		/* To counteract .wrap `margin: 10px 20px 0 2px;` and #wpcontent padding-left: 20px; */
		margin-left: -22px - $body-inset;
		margin-right: -20px - $body-inset;

		margin-bottom: 0;

		#gv-view-configuration-tabs .ui-tabs-panel,
		.ui-tabs-panel,
		.ui-tabs-nav {
			border: none;
			border-radius: 0;
			padding-left: 22px + $body-inset; // Inset the padding to match the original #wpcontent padding.
			padding-right: 20px + $body-inset; // Inset the padding to match the original .wrap padding.
		}

		.nav-tab {
			border: none;
			border-radius: 0;
			background-color: $color-gv-shade-05;
		}

		.ui-state-active .nav-tab {
			background-color: $color-gf-in-color-white;
		}

		.gv-fields {
			background: white;
			box-shadow: $field-box-shadow;
			border-color: $color-gf-in-color-border;
		}

		.gv-fields .gv-field-controls button {
			background: $color-gf-in-color-white;
		}
	}

	// Settings modal.
	.gv-dialog-gravityview_settings {
		.postbox-header {
			display: none;
		}

		.ui-dialog-content {
			padding: 0 !important;
		}

		.ui-dialog-titlebar {
			padding: 0;
			background: none;
			border: none;
		}
	}

	// Revisions metabox.
	#advanced-sortables {
		display: none;
	}

	#wpfooter {
		display: none;
	}

	ul.ui-tabs-nav {
		float: none;
	}

	.gv-section,
	#gravityview_select_form,
	#directory-fields,
	.ui-tabs .ui-tabs-nav,
	#titlediv {
		position: relative;
		margin: 0 auto;
		max-width: 1240px;
	}

	#gravityview_select_form,
	.gravityview_view_config{
		padding-bottom: $space-gv-xl;
	}

	#directory-fields .gv-fields{
		padding: 0 1.25rem;
	}

	.gv-droppable-area-action a.button-link{
		color: $color-gf-in-color-santas;
	}

	.gv-field-label{
		background-color: $color-gf-in-color-anti-flash-white;
		border: 1px solid $color-gf-in-color-border;
		border-radius: 3px;
		color: $color-gf-in-color-placeholder;
		padding: $space-gv-xs/2 $space-gv-xs;
		font-size: $fontsize-gf-xs;
	}

	.button.button-link.gv-add-field {
		border: 1px solid $color-gf-in-color-border;
	}

	#post-body-content{
		margin-top: $space-gv-xl;
	}

	#gk-settings-link{
		right: 40px;
	}

	#wpbody-content{
		float: none;
	}

	#directory-fields .gv-fields{
		padding: 0 0 0 0.5rem;
	}

	div.gv-dialog-gravityview_settings{
		width: 100%!important;
		left: 0!important;
	}

	.alternate, .striped>tbody>:nth-child(odd), ul.striped>:nth-child(odd),
	#gravityview_settings ul.ui-tabs-nav li.ui-state-active a{
		background-color: $color-gf-in-color-white;
	}

	.button.button-link.gv-add-field .dashicons{
		padding: 0 0.5em;
		border-radius: 1px;
	}

	.ui-tooltip-content .gv-items-picker-container.gv-widget-picker-container .gv-icon, .ui-tooltip-content .gv-items-picker-container.gv-widget-picker-container .gform-icon, .ui-tooltip-content .gv-items-picker-container.gv-widget-picker-container .dashicons{
		padding: 0;
	}

	.gv-droppable-area .gv-droppable-area-title{
		text-transform: none;
	}

	.gv-droppable-area{
		padding: $space-gv-m 0;
	}

	#poststuff h2{
		font-size: $fontsize-gf-l;
		padding: 0;
	}

	#directory-fields{
		padding: $space-gv-l 0;
	}

	#gravityview_settings ul.ui-tabs-nav li a{
		border-bottom: none;
		font-size: $fontsize-gf-s;
	}

	.gv-section-header{
		padding: $space-gv-l 0 0 0;
	}

	#gravityview_select_form .postbox-header{
		float:left;
		width: 20%;
	}

	#grainview_select_form .inside{
		float: left;
		margin: 0;
		padding: 0;
		width: 80%;
	}

	.active-drop.active-drop-field{
		border: 1px dashed $color-gf-in-color-border;
		height: $space-gv-m;
		margin-bottom: $space-gv-m;
	}
}