/**
 * Modify the GFAddon App Settings page
 */
.gravityview_page_gravityview_settings {

  .gv-edd-message {
    min-height: 20px;
    padding: 8px 19px;
    margin: 10px 0;
    border: 1px solid;
    border-radius: 4px;
    position: relative;
    display: block;

    background-color: #eeeeee;
    border-color: #cccccc;
    color: #666666;

    &.valid {
      background-color: #c4ee91;
      border-color: #71af5d;
      color: #4d7615;
    }

    &.error,
    &.failed {
      background-color: #fba1a3;
      border-color: #b84f5b;
      color: #981225
    }

    &.deactivated {
      background-color: #fbeba4;
      border-color: #d7c281;
      color: #958234
    }

    &.pending {
      background-color: #d3e4f4;
      border-color: #a9b6c2;
      color: #5c80a1;
    }

    p:first-child {
      margin-top: 0;
    }
  }

  .hide {
    display: none;
  }

  #gform_tab_group {
    padding: 0;
    background: url(../images/stars.jpg) left top repeat-x;

    &:before {
      content: '';
      display: block;
      position: relative;
      margin-left: 0;
      background-color: #fff;

      min-height: 110px;
      background: url(../images/astronaut-200x263.png) -30px top no-repeat;
      margin: 0;
      padding: 10px 0 0 160px;
    }
  }

  #gform_tab_container {
    margin-left: 0;
    background-color: #fff;
    padding-bottom: 0;
  }

  #gform_tabs {
    margin-top: 0;
    display: none;
  }

  #gform-settings {

    clear: both;

    tr {
      border-bottom:1px solid #E7E7E7
    }

    tr:last-child {
      border-bottom: none;

      td, th {
        padding-bottom: 0!important;
      }
    }

    th, td {
      margin: 0;
      padding: 20px 10px 20px 0px;
      width: auto;
    }

    td {
//      vertical-align: text-top;
      width: 70%;

      div {
        padding-left: 10px;
      }
    }

    th {
      font-weight: bold;
      display: block
    }

    span.description {
      display: block;
      font-style: normal;
      font-weight: 400;
      color: #666;
    }

    th span:first-child {
      font-weight: normal;
      display: block;
      color: #666
    }
  }

}