
/** tooltips for fields + widgets */

$tooltip_background: #eee;

body .ui-tooltip {
	padding: 8px;
	position:absolute;
	width: 400px;
	max-width: 100%; // Resize for responsive, if necessary
	z-index: 999999!important; // Gravity Forms tooltips - need to make sure they're higher z-index to be above the field settings
	background: $tooltip_background;
	border: 4px solid #999;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-o-box-shadow: 0 0 5px #aaa;
	-moz-box-shadow: 0 0 5px #aaa;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;

	// Fix issue in Gravity Forms tooltips with line breaks
	br { display: none; }

}
/* Fades and background-images don't work well together in IE6, drop the image */
* html .ui-tooltip {
	background-image: none;
}

.ui-tooltip-content {
	padding: 0 10px;
	max-height: 325px;
	overflow-y: auto;

	&:after {
	  content: "";
	  display: table;
	  clear: both;
	}

	.close {
		position: absolute;
		padding: 5px;
		top: -25px;
		left: -25px;
		cursor: pointer;
	}
	.close i {
		font-size: 25px;
		color: #555;

		&:hover,
		&:active {
			color: #000;
		}
	}

	.gv-field-controls {
		display: none;
	}

	.gv-fields {
		cursor: pointer;
		padding: .5em .75em;

		// Indent the child fields a bit.
		&.gv-child-field {
			width: 95%;
			margin-left: 5%;
		}

	}

	.gv-fields h5 {
		float: none;
		width: 100%;
	}


}

.top .ui-tooltip-content::after {
    bottom: -14px;
    left: 48%;
    border-color: #999 transparent;
    border-width: 10px 10px 0;
}

/**
 * Fix double close icons in jQuery UI dialog boxes
 * @see https://github.com/katzwebservices/GravityView/issues/438
 */
.gv-dialog .ui-dialog-titlebar-close:before {
    content: '';
}
