#gform-settings .gforms_form_settings {

  // Margin right and bottom - provide the spacing for the buttons
  .edd-license-key {
    float: left;
    margin: 0 10px 10px 0;
  }

  // Group the buttons together to prevent one wrapping and others not
  .gv-edd-button-wrapper {
    float: left;
    padding-left: 0;

    .button,
    .button-primary {
      margin: 0 10px 10px 0!important;
    }

  }
  
}