/**
 * Much of the code from WooCommerce
 * @link https://github.com/woothemes/woocommerce/blob/master/assets/css/admin.scss
 */

@import "_mixins";

#gravityview-metabox-content-container {

  float: left;
  width: 80%;

  #side-sortables & {
    width: 100%;

    th, td {
      @include clearfix();
      display: block;
      padding: 10px 10px 3px;
    }

  }

  .ui-tabs-panel {

    @include clearfix();
    @include borderbox();
    
    // Overrides
    padding: 0;
    border: none;

    #side-sortables & {
      margin-top: 1px; // Move away a bit from the border radius
      border-top: 2px solid #ccc;
    }

    .form-table {
      margin-top: 0;

      caption {
        text-align: left;
        .rtl & {
          text-align: right;
        }

        font-size: 14px;
        padding: 8px 10px;
        margin: 0;
        line-height: 1.4;
        font-weight: 600;
      }
    }

    p {
      margin: 9px 0 9px;
    }

    p.form-field,
    fieldset.form-field {
      padding: 5px 20px 5px 162px !important; /** Padding for aligning labels left - 12px + 150 label width **/
    }

    .description {
      padding: 0;
      margin: 0 0 0 7px;
      clear: none;
      display: inline;
    }

    textarea,
    input,
    select {
      margin: 0;
    }

    textarea {
      vertical-align: top;
      height: 3.5em;
      line-height: 1.5em;
    }

    input.button {
      width: auto;
      margin-left: 8px;
    }

    select {
      float: left;
    }

  }
}