#hs-beacon,
#beacon-container {

  iframe {

	  // Inline popup
	  &[style*="max-height"] {
        z-index: 10000 + 10 !important; // Above #adminmenuwrap, which is 9990 and modal content, which is 10000 + 1
	  }

	  // Sidebar with toolbar
	  .admin-bar &[style*="bottom: 0"] {
		  padding-top: 32px;
	  }

    // The Button iframe
    &[data-reactid-hs=".0.0"] {
      right: -5px!important;
      bottom: -5px!important;

      .rtl & {
        right: auto!important;
        left: -5px!important;
      }
    }
    // End button iframe

    // The Button content iframe
    &[data-reactid-hs=".0.1"] {}
    // End Button content iframe

  }
}
