html body .chatlio-widget.closed {
	height: 30px;
	text-align: center;
}
html body .chatlio-widget.closed .title-text {
	margin-left: -5px;
}
.chatlio-widget.hide {
	display: none !important;
}
#chatlio-widget {
	position: relative;
	overflow: hidden;
}
#chatlio-widget.embed-inline-container {
	height: 100%;
}
.chatlio-widget.embed-inline {
	position: relative !important;
	width: 100% !important;
	height: 100% !important;
	left: 0;
	right: 0;
}
.chatlio-widget.embed-inline .message-container {
	height: 480px !important;
}
.chatlio-widget.embed-inline .new-message-container {
	border: 1px solid #B8B8B8;
}
.chatlio-widget.embed-inline .controls {
	display: none;
}
.chatlio-widget {
	color: black;
	line-height: normal;
	font-weight: normal;
	text-align: left;
	box-shadow: 0px 1px 7px rgba(0, 50, 100, 0.25);
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-left: 1px solid #B8B8B8;
	border-right: 1px solid #B8B8B8;
	opacity: 1 !important;
	//font-family: "Helvetica Neue", Arial, sans-serif;
	position: fixed;
	bottom: 0;


	left: auto;
	right: 30px;

	height: 330px;
	width: 260px;
	z-index: 9999;
	background-color: #fff;
	box-sizing: border-box;
	border-top: 0;
	border-bottom: 0;
	-webkit-animation: fadein 2s;
	/* Safari, Chrome and Opera > 12.1 */

	-moz-animation: fadein 2s;
	/* Firefox < 16 */

	-ms-animation: fadein 2s;
	/* Internet Explorer */

	-o-animation: fadein 2s;
	/* Opera < 12.1 */

	animation: fadein 2s;


	textarea {
		min-height: 0;
	}
	img {
		margin: 0;
		vertical-align: baseline;
	}
	.btn {
		// This is all copied from .button-secondary
		color: #555;
		border-color: #ccc;
		background: #f7f7f7;
		-webkit-box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);
		box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);
		vertical-align: top;

		display: inline-block;
		text-decoration: none;
		font-size: 13px;
		line-height: 26px;
		height: 28px;
		margin: 0;
		padding: 0 10px 1px;
		cursor: pointer;
		border-width: 1px;
		border-style: solid;
		-webkit-appearance: none;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		white-space: nowrap;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		&:hover {
			background: #fafafa;
			border-color: #999;
			color: #23282d;
		}
		&:active {
			outline: 0 none;
			background: #eee;
			border-color: #999;
			color: #32373c;
			-webkit-box-shadow: inset 0 2px 5px -3px rgba(0,0,0,.5);
			box-shadow: inset 0 2px 5px -3px rgba(0,0,0,.5);
		}
	}
	.btn-primary {

		background: #00a0d2;
		border-color: #0073aa;
		-webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
		box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
		color: #fff;
		text-decoration: none;

		&:hover {
			background: #0091cd;
			border-color: #0073aa;
			-webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
			box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
			color: #fff;
		}

		&:active {
			background: #0073aa;
			border-color: #005082;
			color: rgba(255, 255, 255, .95);
			-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1);
			box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1);
			vertical-align: top;
		}
	}
	p {
		padding: 0
	}
	.hide {
		display: none !important;
	}

	*,
	*:before,
	*:after {
		box-sizing: inherit;
	}
	.clear {
		clear: both;
	}
	.chatlio-widget-body.closed {
		display: none;
	}
	.title-bar {
		-webkit-border-top-left-radius: 3px;
		-webkit-border-top-right-radius: 3px;
		-moz-border-radius-topleft: 3px;
		-moz-border-radius-topright: 3px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		line-height: normal;
		position: relative;
		font-weight: 300;
		font-size: 14px;
		padding: 6px 10px 6px 10px;
		color: #F0F0F0;
		background-color: #3f51b5;
		cursor: pointer;
		height: 30px;
		text-align: center;

		a {
			color: white;
		}
	}

	.title-text {
		padding-left: 5px;
		font-weight: 400;

		a:link {
			color: white;
			text-decoration: none;
		}
		a:visited {
			color: white;
			text-decoration: none;
		}
		a:hover {
			color: white;
			text-decoration: underline;
		}
		a:active {
			color: white;
			text-decoration: none;
		}
	}

	.title-bar .controls:before {
		content: "\00a0\00a0";
	}
	.online-dot {
		margin-top: 3px;
		float: left;
	}
	.title-bar .controls {
		background: url("https://w.chatlio.com/images/Arrowhead-Down-16.d59887e8.png") right no-repeat;
		background-size: 10px 10px;
		min-width: 20px;
		float: right;
	}
	.title-bar .controls.closed {
		background: url("https://w.chatlio.com/images/Arrowhead-Up-16.aa2df86e.png") right no-repeat;
		background-size: 10px 10px;
	}
	.message-container {
		overflow: auto !important;
		height: 199px !important;
		font-size: 14px;
	}
	.message {
		padding: 5px !important;
		font-size: 12px;
		border-bottom: 1px solid #d8d8d8;
	}
	.message-author {
		float: left;
		font-weight: bold;
		color: #3E3D41;
		padding-bottom: 5px;
	}
	.message-timestamp {
		float: right;
		color: #ccc;
		font-size: 0.8em;
		padding-right: 5px;
	}
	.message-body {
		color: #3E3D41;

		pre {
			//font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, sans-serif;
			overflow: auto;
			line-height: 0.7;
			width: auto;
			max-height: 200px;
			background-color: #F4F4F6;
			padding: 6px;
			margin: 2px;
			border: 1px solid #dddde4;
			border-radius: 3px;
		}
		code {
			border-radius: 3px;
			padding: 2px 4px 0px 4px;
			background-color: #F4F4F6;
			color: #c92657;
			border: 1px solid #dddde4;
			//font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, sans-serif;
		}
	}

	.new-message-container {
		background-color: #F0F2F7;
		padding: 5px;
		padding-bottom: 3px;
		height: 71px;
		border-top: 1px solid #d8d8d8;

		.connecting {
			border: 1px solid orange;
		}
	}

	.new-message {
		overflow: auto;
		font-size: 12px;
		width: 100%;
		border: 1px solid #d8d8d8;
		padding: 5px;
		margin-bottom: 3px;
		//font-family: "Helvetica Neue", Arial, sans-serif;
		height: 59px;
		box-sizing: inherit;
	}
	.offline-message-container {
		background-color: #f0f2f7;
		height: 270px;
		padding: 5px;
		font-size: 13px;
		width: 100%;

		input {
			font-size: 12px;
			width: 100%;
			border: 1px solid #d8d8d8;
			padding: 5px;
			margin-bottom: 3px;
			height: 35px;
			box-sizing: inherit;
		}

		textarea {
			font-size: 12px;
			padding: 5px;
			border: 1px solid #d8d8d8;
			margin-bottom: 3px;
			//font-family: "Helvetica Neue", Arial, sans-serif;
			width: 100%;
		}

		.missed-you-message {
			padding: 2px;
			margin: 0 2px 4px 0;
		}
	}


	.offline-message-container-sent {
		padding-top: 100px;
		text-align: center;
		vertical-align: middle;
	}
	input.error,
	textarea.error {
		border: 2px solid red;
	}
	img.file-attachment {
		padding-bottom: 3px;
		max-width: 240px;
		max-height: 128px;
	}
	.file-attachment-title {
		font-size: 0.9em;
		padding-bottom: 5px;
	}
	.powered-by {
		background-color: #f0f2f7;
		text-align: left;
		text-indent: -9999px;
		overflow: hidden;
		padding: 1px 5px 5px 5px;
		height: 30px;
		width: 100%;
	}
}
