$namespace: 'gravityview';

// Path to SVG images
$path: '../../trustedlogin/trustedlogin/trustedlogin-client/src/assets/';

@import "../../../trustedlogin/trustedlogin/trustedlogin-client/src/assets/src/auth";
@import "../../../trustedlogin/trustedlogin/trustedlogin-client/src/assets/src/buttons";

#trustedlogin .hidden {
	display: none;
}

// Don't show update nag on Grant Access screen
.gravityview_page_grant-gravityview-access .update-nag {
	display: none;
}
