// Iteration variables for admin refresh start here
// Iteration colors: these should for some be inherited from WP core
$color-gv-shade-01: #f3f4f5;
$color-gv-shade-02: #ccd0d4;
$color-gv-shade-03: #fafafa;
$color-gv-shade-04: #eeeeee;
$color-gv-shade-05: #F9F9FA;
$color-gv-grey-01: #757575;
$color-gv-grey-02: #7e9597;
$color-gv-blue: #3e7ada;
$color-gv-text: #000000;
$color-gv-white: #ffffff;

// Iteration typography sizes: using WP core for some
$font-size-gv-s: 1rem;
$font-size-gv-m: 16px;
$font-size-gv-l: 20px;

// Iteration spacing sizes: using WP core for some
$space-gv-xs: 8px;
$space-gv-s: 16px;
$space-gv-m: 24px;
$space-gv-l: 32px;
$space-gv-xl: 64px;

// Legacy admin refresh styles
$body-inset: 50px;
$field-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);

// Gravity forms from here
// Gravity Forms Foundation colors
$color-gf-in-color-white: #ffffff;
$color-gf-in-color-black: #000000;
$color-gf-in-color-grey: #667085;
$color-gf-in-color-anti-flash-white: #f2f3f5;
$color-gf-in-color-metal-grey: #d3d3e0;
$color-gf-in-color-santas: #9092b0;
$color-gf-in-color-gravity-blue: #3e7da6;
$color-gf-in-color-disabled: #f4f5fb;
$color-gf-in-color-button: #3e7da6;
$color-gf-in-color-button-disabled: #639cc1;
$color-gf-in-color-secondary-border: #e4e4ee;
$color-gf-in-color-border: #9092b2;
$color-gf-in-color-placeholder: #5b5e80;

$fontsize-gf-xs: 0.875rem;
$fontsize-gf-s: 1rem;
$fontsize-gf-m: 1.25rem;
$fontsize-gf-l: 1.5rem;