// Colors
$color-111: #191E23 !default;
$color-222: #23282D !default;
$color-333: #32373C !default;
$color-444: #40464D !default;
$color-555: #555D66 !default;
$color-666: #6C7781 !default;
$color-777: #7E8993 !default;
$color-888: #8F98A1 !default;

$color-aaa: #a2aab2 !default;
$color-bbb: #b5bcc2 !default;
$color-ccc: #ccd0d4 !default;
$color-ddd: #d7dade !default;
$color-light-grey-500: #e2e4e7 !default;
$color-light-grey-400: #e8eaeb !default;
$color-light-grey-300: #edeff0 !default;
$color-light-grey-200: #f3f4f5 !default;
$color-light-grey-150: #f6f7f8 !default;
$color-light-grey-100: #fbfbfc !default;
$color-green: #328540 !default;
$color-red: #c0461e !default;
$color-yellow: #ffb900 !default;
$color-yellow-tint-20: #ffc733 !default;
$color-yellow-tint-40: #ffd566 !default;
$color-yellow-tint-60: #ffe399 !default;
$color-yellow-tint-90: #fff8e6 !default;
$color-blue-wp: #006899 !default;
$color-blue-tone-100: $color-blue-wp;
$color-blue-tone-80: #007cb2 !default;
$color-blue-tone-60: #0085ba !default;
$color-blue-tone-40: #008ec2 !default;
$color-blue-medium: #2ea2cc !default;
$color-blue-tint-20: #33b3db !default;
$color-blue-tint-40: #66c6e4 !default;
$color-blue-tint-60: #99d9ed !default;
$color-blue-tint-75: #bfe7f4 !default;
$color-blue-tint-90: #e6f6fb !default;

$color-bg-active: rgba(210, 224, 235, .45);
$color-bg-inactive: rgba(210, 224, 235, .2);
