$color-1: #e6f0f5;
$color-2: #ff0038;

.gk-gravityview-block {
  &.block-preview {
    margin: 0 auto;
    display: block;
  }

  &.shortcode-preview {
    background: $color-1;
    text-align: center;
    padding: 40px;
    font-size: 14px;
    line-height: 30px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

    > img {
      margin-bottom: 20px;
    }

    .field-container {
      text-align: center;

      .components-base-control {
        display: inline-block;
        vertical-align: top;
      }

      .components-base-control__field {
        margin-bottom: 0;
      }

      hr {
        margin: 10px 0;
      }

      select, input {
        width: 250px;
        margin: 5px;
        height: 40px;
      }
    }
  }

  &.view-selector {
    width: 250px;
    display: inline-block;
    text-align: left;
    position: relative;
    z-index: 10;

    input {
      margin: 0 !important;
      height: auto !important;
      box-shadow: none !important;
    }

    [class*="-menu"] {
      line-height: 20px;
    }

    [class*="-control"] {
      border-color: hsl(0, 0%, 80%) !important;
      box-shadow: none !important;
    }
  }

  &.btn-group-double {
    width: 100%;
    margin-bottom: 20px;

    .components-button {
      width: 50%;
      justify-content: center;
    }
  }

  &.btn-group-triple {
    width: 100%;
    margin-bottom: 20px;

    .components-button {
      width: 33%;
      justify-content: center;
    }
  }

  &.suggestion-list {
    ul {
      background: $color-1;
      border: 1px solid darken($color-1, 10%);

      li {
        cursor: pointer;
        line-height: 25px;
        margin: 0;
        padding: 10px;
        border-bottom: 1px solid #fff;

        &:last-child {
          border-bottom: 0;
        }

        &:hover {
          background: #fff;
        }
      }
    }
  }
}
